h1 {
	font-family: sans-serif;
	text-align: center;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 5px;
}
th {
  text-align: right;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
button {
	cursor:pointer;
	width:300px;
	text-align:center;
}
form {
	margin-left: 15px;
}
.drop {
    background-color: red;
    width: 140;
    height: 140;
    border-radius: 30%;
    cursor: pointer;
    border: none;
}
.drop span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .drop span:after {
    content: '\2620';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .drop:hover span {
    padding-right: 25px;
  }
  
  .drop:hover span:after {
    opacity: 1;
    right: 0;
  }
