{% load static %}
<html>
    <head>
        <title>Счетчик слов</title>

	<link rel='stylesheet' href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
        crossorigin="anonymous">

        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
			crossorigin="anonymous"></script>

	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
			crossorigin="anonymous"></script>

        <meta content="text/html">
    </head>

    <body>
        {% if messages %}
					<div class="row">
						<ul class="messages">
							{% for message in messages %}
							<li class="alert alert-{{ message.tags }} alert-dismissable">
							{{ message }}
							<a href="#" class="close" data-dismiss='alert'>&nbsp;x</a>
							</li>
							{% endfor %}
						</ul>
					</div>
                {% endif %}
                
        <h1>Подсчёт слов, содержащихся на странице в Интернете</h1>
        <form action="." method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <button class="add" type="submit"><i class="fas fa-search">&nbsp;</i></button>
        </form>
        <hr/>
        <table id="t01" style="width:100%">
		<caption>Searching results</caption>
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>URL</th>
                <th>Searched word</th>
                <th>Status</th>
                <th>Result</th>
                <th>Updated</th>
            </tr>
            
            {% for job in jobs %}
                <tr>
                    <th>{{job.uuid}}</th>
                    <th>{{job.created|date:"d.m.y H:i"}}</th>
                    <th>{{job.url}}</th>
                    <th>{{job.search_word}}</th>
		    {% if  job.status == 'queued' %}
                    <th>В очереди</th>
		    {% elif job.status == 'finished' %}
                    <th>Завершено</th>
                    {% endif %}
		    <th>{{job.result}}</th>
                    <th>{{job.updated|date:"d.m.y H:i"}}</th>
                </tr>
                {% empty %}
                <li>Тут появится результат поиска</li>
            {% endfor %}
            
            
        </table>
    </body>
</html>
